<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <label for="login">Login:</label>
    <input type="text"  id="login" name="login" formControlName="login" >

    <label for="password">Password:</label>
    <input type="text" id="password" name="password" formControlName="password">

    <button type="submit">Sign In</button>


</form>
