<!-- <div class="page-layout blank p-24" fusePerfectScrollbar> -->

<!-- <ul *ngFor="let user of users; let idx = index">
        <li> User:
            <p>{{user.login}}</p>
            <p>{{user.password}}</p>
            <button (click)="deleteUser(user)">Delete</button>
        </li>
    </ul> -->
<!-- </div> -->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Login </th>
        <td mat-cell *matCellDef="let user"> {{user.login}} </td>
    </ng-container>

    <!-- Surname Column -->
    <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Password </th>
        <td mat-cell *matCellDef="let user"> {{user.password}} </td>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let user" class="buttons">
            <button (click)="deleteUser(user)">
                Delete
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>